h1 {
  font:  150% sans-serif;
  color: #blue;
  border-bottom: 3px dotted #77d;
}


#menu{
  background-color: cadetblue;
  display: block;
  padding: 8px;
  width: auto;
  color:white;
  font-size: medium;
}

#menu a{
  border: 1px solid black;
  border-radius:8px;
  background-color: firebrick;
  padding: 3px;
  text-decoration: none;
  margin: 5px;
  width: 50px;
  box-shadow: 15px black;
  color: white;
}

#menu a:hover{
  background-color: red;
};

#menu span.benefit{
  margin-left: 5px;
  color: yellow;
};

